.signup {
    background-color:rgb(243 231 142 / 77%);
    padding: 1rem;
    text-align: center;
    max-width: 40vw;
    border-radius: 10px;
    display: block;
    border: 1px solid #d4b94c;

}

.forminput {
    padding: 10px 0;
    
}

.formbutton {
    background-color: rgb(243 231 142);
    margin: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 398px) {
    .signup {
        max-width: fit-content;}
}